$color_primary: #572EE5;
$color_secondary: #F3F5F8;
$color_terciary:#50E3C2;
$color_primary_ligthen:  rgba(87,46,229,0.90);

$font_titles:'Montserrat', sans-serif;
$font_titles_color:#572EE5;
$font_titles_sec_color:#50E3C2 ;

$font_text:'Roboto', sans-serif;
$font_text_color:#000000;
$font_text_color_sec: #9CAFC3;

//darkMode
$dark_color_primary:#37383C; 
$dark_color_secundary:#222326;

//Desktop font sizes 
$desk_title_size_one: 2.18rem;
$desk_title_size_two: 1.56rem;
$desk_title_size_three:1.12rem;
$desk_title_size_four: 1rem;
$desk_title_size_five: 0.93rem;
$desk_title_size_six: 0.81rem;

//Mobile font sizes 
$mob_title_size_one: 1.56rem;
$mob_title_size_two: 1.25rem;
$mob_title_size_three: 1rem;
$mob_title_size_four: 0.93rem;
$desk_title_size_five: 0.87rem;